.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-bottom: 0;
  color: #000000;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}

.descriptionContainer {
  text-align: center;
  display: block;
  border-bottom: 1px solid #9e9e9e;
}

.userAvatar {
  max-width: 150px;
  margin: 15px auto 15px auto;
  background-color: rgba(0, 0, 0, 0.753);
  border-radius: 50%;
}

.userName {
  margin-bottom: 10px;
  font-size: 18px;
}

.userTag,
.userLocation {
  margin: 0 auto 10px auto;
  font-size: 16px;
  color: #666666;
}

.statsList {
  margin: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(191, 191, 191);
}

.statsItem {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
}

.statsQuantity {
  margin-top: 4px;
  font-weight: 700;
}
